.custom-select-container {
  position: relative;
  width: 200px;
}

.selected-option-display {
  cursor: pointer;
}

.options-list {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.square {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}