.Login-view {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  padding:10px;
  position: relative;
  overflow: hidden;
}

.Login-view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: linear-gradient(0deg,
      rgba(191, 244, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  ;

}

.Login-view .Container-box {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  width: 65%;
  height: 90%; 
  bottom:0;
  padding: 32px 16px 48px 16px; 
  border-radius: 24px;
  background: linear-gradient(0deg,
      rgba(207, 245, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 49.67639744281769%,
      rgba(255, 251, 240, 0.9) 100%);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  position: absolute;
  right:0;
}

.Login-view .Headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end ;
  margin: 10px;
  gap: 40px;
}

.Login-view .Headers img {
  height: 40px;
}

.Login-view .Headers span {
  color: #403F3F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Login-view .Body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16%;
}

.Login-view .Actions {
  display: flex;

}

.Login-view .Footer {
  display: flex;
  justify-content: space-between;
  background: #ffffffff;
  width: 97.5%;
  bottom: 0;
  position: absolute;
  padding: 32px 16px 48px 16px;
  z-index:0;
  right: 0;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding-right: 30px;
  /* Adjust padding to prevent text from hiding behind the icon */
}

.view-icon {
  position: absolute;
  right: 10px;
  /* Adjust based on your design */
  cursor: pointer;
  /* Optional: if you want to make it clickable */
}

.welcome-back {
  color: var(--base-dark, #2c2c2c);
  text-align: left;
  font-family: "Outfit-Bold", sans-serif;
  font-size: 21px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  top: 20%;
  width: 10%;
}

.log-in-to-your-account {
  color: var(--base-dark, #2c2c2c);
  text-align: left;
  font-family: "Outfit-Regular", sans-serif;
  font-size: 35.251129150390625px;
  line-height: 41.78px;
  font-weight: 400;
  position: absolute;
  left: 5%;
  top: 25%;
  width: 344px;
}

.Sign-up-account-test {
    color: var(--Base-Dark, #2C2C2C);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.921px;
    /* 287.009% */
}

.Sign-up-underline {
    font-weight: 700;
    text-decoration-line: underline;
}

.Account-details {
  color: var(--Base-Dark, #2C2C2C);
    font-family: Outfit;
    font-size: 20.091px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.921px;
    /* 228.571% */
}

.Forgot-password {
  color: var(--Base-Dark, #2C2C2C);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.921px;
    /* 287.009% */
    text-decoration-line: underline;
}