.Login-view {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Login-view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url(../../assets/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: 0.5;
  background: linear-gradient(to right, #7FFFD4, #baee76, #66CDAA);
    
}

.Login-view .Container-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 393px;
  padding: 32px 16px 48px 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.Login-view .Headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.Login-view .Headers img {
  height: 40px;
}

.Login-view .Headers span {
  color: #403F3F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Login-view .Body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Login-view .Actions {
  display: flex;

}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding-right: 30px;
  /* Adjust padding to prevent text from hiding behind the icon */
}

.view-icon {
  position: absolute;
  right: 10px;
  /* Adjust based on your design */
  cursor: pointer;
  /* Optional: if you want to make it clickable */
}