.HomeView {
  display: flex;
  flex: 1;
  background: #EEE;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 0px 24px 24px 0px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.Sidebar img {
  width: 130px;
}

.Sidebar .Menu {
  flex: 1;
  overflow: auto;
}

.Sidebar .Menu::-webkit-scrollbar {
  display: none;
}

.Sidebar .Menu-option {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  background: #FFF;
  text-decoration: none;
}

.Sidebar .Menu-option span {
  color: #626262;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.Sidebar a.Menu-option.active {
  background: #F5EAEC;
}

.Sidebar .Menu-option:hover {
  background: rgba(144, 211, 224, 0.6);
}

.Sidebar .Menu-option.active path {
  fill: #00AAD6;
}

.Sidebar .Menu-option.active span {
  color: #00AAD6;
}

.View {
  padding: 59px 32px 32px 41px;
  display: flex;
  flex: 1;
  overflow: auto;
}