/* .view::before {

content: "";
  background: url("../../assets/subsImage.png") repeat center center fixed;
   transform: rotate(90deg); 
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  background-size: cover;
}
 */

.view {
    background: url("../../assets/subsImage.png") repeat center center fixed;
  /* position: relative; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

h1 {
  color: #F09925;
  font-size: 22px;
}

.contentContainer {

  width: 95%;
}

.titleContainer {
  display: flex;
  align-items: center
}

.mainContainer {

  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  background: rgba(253, 253, 253, 0.3);
  flex-wrap: wrap;
  justify-content: end;
  align-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  grid-gap: 20px;
  background: linear-gradient(0deg, rgba(253, 253, 253, 0.3), rgba(253, 253, 253, 0.3)),
      linear-gradient(102.1deg, rgba(255, 255, 255, 0.24) 6.16%, rgba(255, 255, 255, 0.015) 86.42%);
}

.upgradeItemTitle {
  font-weight: 700;
  font-family: Outfit;
  font-size: 36px;
}

.subTitle {
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  justify-self: center;
  font-family: Outfit;
  font-weight: 700;
}

.upgradeItem-1 {
  grid-column: 1;
  grid-row: 2;
  background: rgba(253, 253, 253, 0.3);
}

.upgradeItem-2 {
  grid-row: 2;
  grid-column: 2;
}

.upgradeItem-3 {
  grid-row:2;
  grid-column: 3;
}