.mtb-selector-container {
  cursor: pointer;
  user-select: none;
  border-radius: 16px;
  font-family: Outfit;
}

.mtb-selector-value {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  justify-content: space-between;
}

.mtb-selector-options {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
  border-radius: 8px;
}

.mtb-selector-option {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mtb-selector-option:hover {
  background-color: #bada55;
  border-radius: 8px;
  color: white;
  font-family: Outfit;
}

.mtb-selector-square {
  border-radius: 0px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  outline:auto;
  outline-color: #bababa;
}